<link rel="stylesheet" href="/styles/card-create.css">

<div class="row">

    <div class="small-12 columns">
        <h1><%= typeof cardEditing == 'undefined' ? "New Card" : "Editing: " + cardEditing.name %></h1>
    </div>

</div>

<div class="row">
    <div class="small-1 columns">
        <label class="inline">Name</label>
    </div>
    <div class="small-7 columns">
        <input class="name-input" type="text" placeholder="Name"
               value="<%= (typeof cardEditing != 'undefined') ? cardEditing.name : '' %>">
    </div>
    <div class="small-4 columns"></div>
</div>

<!--<span style="float: left; margin-top: 15px; margin-left: 10px;">Template: </span>-->

<% if(typeof cardEditing == 'undefined') { %>

<div class="row">
    <div class="small-1 columns">
        <label class="inline">Template</label>
    </div>
    <div class="small-7 columns">
        <select class="template-select">
            <option value="noneselected">Choose a template</option>
        </select>
    </div>
    <div class="small-4 columns"></div>
</div>

<div class="row">
    <div class="small-1 columns">
        <label class="inline">Category</label>
    </div>
    <div class="small-7 columns">
        <select class="category-select">
            <option value="noneselected">Choose a category</option>
        </select>
    </div>
    <div class="small-4 columns"></div>
</div>

<% } %>

<iframe class="glass-preview" id="card-preview"></iframe>

<div class="variables-container"></div>

</div>

<div class="row">
    <button class="save-button">Save</button>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var previewTemplate = function () {
        };

        $('.save-button').on('click', function saveClick() {
            var url = '/card/create';
            <% if(typeof cardEditing != 'undefined') { %>
            url = '/card/update/<%- cardEditing.id %>';
            <% } %>
            $.post(url, {
                name: $('.name-input').val(),
                template: $('.template-select').val(),
                variables: getVariables()
            }, function success(data) {
                var id = data.id;
                window.location.href = '/card/edit/' + id;
            });
        });

        var variableRowTemplate = Handlebars.compile('<label>{{name}}<input type="text" class="variable-value" placeholder="value" name="{{name}}" value="{{default}}"></label></div>');

        <% if(typeof cardEditing == 'undefined') { %>

        $('.template-select').on('change', function () {
            socket.get('/template/' + $('.template-select').val(), function (template) {
                previewTemplate = Handlebars.compile(template.handlebarsTemplate);
                var variables = template.handlebarsTemplate.match(/{{(.*?)}}/g);
                $('.variables-container').html('');
                if (variables) {
                    for (var i = 0; i < variables.length; i++) {
                        variables[i] = variables[i].replace(/{{/g, '').replace(/}}/g, '');
                        $('.variables-container')
                                .append(variableRowTemplate({name: variables[i]}))
                                .append('<div style="clear: both; height: 0"></div>');
                    }
                }
            });
        });

        <% } else { %>

        previewTemplate = Handlebars.compile("<%- cardEditing.template.handlebarsTemplate %>");

        $('.variables-container').html('');

        <% for(var key in cardEditing.variables) {
            if(cardEditing.variables.hasOwnProperty(key)) {
                var value = cardEditing.variables[key];
        %>
        $('.variables-container')
                .append(variableRowTemplate({name: '<%- key %>', 'default': '<%- value %>'}))
                .append('<div style="clear: both; height: 0"></div>');
        <%
            }
        }%>

        updatePreview();

        <% } %>

        function updatePreview() {
            $('#card-preview').contents().find('html').html('')
                    .append('<link rel="stylesheet" href="/styles/glass-preview.css"/>')
                    .append(previewTemplate(getVariables()))
        }

        function getVariables() {
            var variables = {};
            $('.variables-container').find('input').each(function (index, variable) {
                variables[$(variable).attr('name')] = $(variable).val();
            });
            return variables;
        }

        $(document).on('keyup change', '.variable-value', updatePreview);

        socket.get('/template/', function (templates) {
            console.log('hello');
            var optionTemplate = Handlebars.compile('<option value="{{id}}">{{name}}</option>');
            templates.forEach(function (template) {
                $('.template-select').append(optionTemplate({id: template.id, name: template.name}));
            });
        })
    });
</script>