<link rel="stylesheet" href="/styles/custom.css">
<!--Media Bucket-->
<br><br><br>
<div class="row">
    <div class="medium-4 columns container">
        <div class="row">
            <h3><a href="/mediabucket">Media Bucket</a></h3>
        </div>
        <ul class="small-block-grid-2">
            <% for(var i = 0; i < Math.min(photos.length, 6); i++){ %>
            <li class="box"><span class="label radius">Image</span><a href="#"><img src="<%= photos[i].imageUrl %>"/></a>
            </li>
            <% } %>
        </ul>
        <br><br>

        <div class="small-10 columns small-offset-1">
            <a href="/mediabucket" class="button">View Media Bucket</a>
        </div>
    </div>

    <!--GlassGenius-->
    <div class="medium-4 columns container">
        <div class="row">
            <h3><a href="/category">Stories</a></h3>
        </div>
        <ul class="small-block-grid-2">
            <li class="box text-center"><a href="/category/add">&nbsp;<br>+<br>New Story<br><br></a></li>
            <% for(var i = 0; i < categories.length; i++){ %>
            <li class="box text-center"><a href="/category/edit/<%= categories[i].id %>">&nbsp;<br><br><%= categories[i].name %><br><br></a></li>
            <% } %>
        </ul>
    </div>

    <!--POV-->
    <div class="medium-4 columns container left">
        <div class="row">
            <h3><a href="/video">POV Videos</a></h3>
        </div>
        <div class="row">
            <ul class="small-block-grid-2">
                <li class="box text-center"><a href="/video/new"><br>+<br>new POV<br><br></a></li>
                <% for(var i = 0; i < videos.length; i++){ %>
                <li class="box text-center"><a href="/video/edit/<%= videos[i].id %>"><br><br><%= videos[i].name %><br><br></a></li>
                <% } %>
            </ul>
        </div>
    </div>
</div>