<link rel="stylesheet" href="/styles/jquery.tagsinput.css"/>

<br>
<div class="row">
    <div class="small-6 columns">
        <h1><%= categoryEditing.name %></h1>
        <input class="category-name-input" type="text" placeholder="Name" value=<%= categoryEditing.name %>>
    </div>
    <br><br>

    <div class="small-4 columns">
    </div>
    <div class="small-2 columns">
        <a href="/category">Story Library</a>
    </div>
</div>

<br>

<div class="panel">

    <div class="row">
        <div class="small-6 columns">
            Preview
        </div>
        <div class="small-6 columns">
        </div>
    </div>

    <br>

    <div class="row">
        <% for(var i = 0; i < cards.length; i++){ %>
        <div class="small-2 columns">
            <img class="card-button" id="<%= cards[i].id %>" src="/card/render/<%= cards[i].id %>">
        </div>
        <% } %>
        <br>
    </div>

</div>

<div class="row">
    <div class="small-6 columns">
        <a href="/card/create">
            <button class="save-button disabled">Create new card</button>
        </a>
    </div>
    <div class="small-6 columns">
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <hr/>
    </div>
</div>

<div class="row">
    <div class="small-6 columns">
        <img id="cardPreviewImage" src="http://dummyimage.com/600x360/000/ffffff.jpg&text=+">
    </div>

    <div class="small-6 columns">
        Tags
        <br><br>
        <input id="tags" class="category-name-input" type="text">
    </div>

    <div class="small-6 columns">
        <br>
        Location Trigger
        <br><br>
        <input id="us2-address" class="category-name-input" type="text" placeholder="Address">
    </div>
    <div class="small-6 columns">
        <div id="mappicker" style="width: 470px; height: 235px;"></div>
    </div>


</div>

<br><br><br>

<div class="panel">

    <div class="row">
        <br><br>

        <div class="small-9 columns">
            Templates
        </div>


        <!--how to move this button to the far right?!-->
        <div class="small-3 columns">
            <a href="/template/create" class="button tiny">Create new template</a>
        </div>
    </div>

    <div class="row">
        <% for(var i = 0; i < Math.min(templates.length, 6); i++){ %>
        <div class="small-2 columns">
            <iframe style="width: 320px; height: 180px;" class="glass-preview"
                    src="/template/preview/<%= templates[i].id %>?scale=0.25"></iframe>
        </div>
        <% } %>
    </div>

</div>

<br><br><br>

</div>

<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="/js/locationpicker.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<script>

    $(document).ready(function () {

        $('#tags').tagsInput({
            'height': "70px",
            'width': "470px"
        });
        $('#mappicker').locationpicker({
            location: {latitude: 34.0210043, longitude: -118.2876044},
            radius: 50,
            inputBinding: {
                locationNameInput: $('#us2-address')
            }
        });

        $(".card-button").click(function () {
            $("#cardPreviewImage").attr("src", "/card/render/" + $(this).attr('id'));

            socket.get('/card/' + $(this).attr('id'), function (card) {
                $('#tags').empty();
                $('#tags').tagsInput({
                    'height': "70px",
                    'width': "470px"
                });
                $.each(card.triggerWords, function (key, value) {
                    $("#tags").addTag(value);
                });
            });
        });
    });

</script>