<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>

<br>
<div class="row">
    <div class="small-6 columns">
        <h1><%= typeof articleEditing == 'undefined' ? "New Article" : "Editing: " + articleEditing.title %></h1>
        <input id="title" type="text"
               value="<%= (typeof articleEditing != 'undefined') ? articleEditing.title : 'Article title' %>">

        <h1>Contents</h1>
        <input id="name" type="textarea"
               value="<%= (typeof articleEditing != 'undefined') ? articleEditing.contents : 'Article contents' %>">

        <h1>Date</h1>
        <input id="name" type="text"
               value="<%= (typeof articleEditing != 'undefined') ? articleEditing.date : 'Article date' %>">

        <h1>Location</h1>
        <input id="name" type="text"
               value="<%= (typeof articleEditing != 'undefined') ? articleEditing.location : 'Article location' %>">

        <div class="panel">
            <h2>Thumbnail</h2>
                   data-fp-container="modal" onchange="$('#thumbnailbox').attr('src', $('#thumbnailURL').val())"
                   value="<%= (typeof articleEditing != 'undefined') ? articleEditing.thumbnailURL : '' %>"/>
            <img src="<%= (typeof articleEditing != 'undefined') ? articleEditing.thumbnailURL : '' %>"
                   id="thumbnailbox"></article>
        </div>

        <div class="panel">
            <h2>Publisher Icon</h2>
                   data-fp-container="modal" onchange="$('#iconbox').attr('src', $('#iconURL').val())"
                   value="<%= (typeof articleEditing != 'undefined') ? articleEditing.iconURL : '' %>"/>
            <img id="iconbox" src="<%= (typeof articleEditing != 'undefined') ? articleEditing.iconURL : '' %>"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
        <button class="save-button">Save</button>
        <% if(typeof articleEditing != 'undefined') { %>
        <button class="alert delete-button" id="<%= articleEditing.id %>">Delete</button>
        <% } %>
    </div>
</div>

<script>

    $(document).ready(function () {

        $('.save-button').on('click', function saveClick() {
            var url = '/article/create';
            <% if(typeof articleEditing != 'undefined') { %>
            url = '/article/update/<%- articleEditing.id %>';
            <% } %>
            $.post(url, {
                title: $("title").val(),
                contents: $("contents").val(),
                date: $("date").val(),
                location: $("location").val(),
                thumbnailURL: $("thumbnailURL").val(),
                iconURL: $("iconURL").val()
            }, function success(data) {
                var id = data.id;
                window.location.href = '/article/edit/' + id;
            });
        });
    });

    $(".delete-button").on('click', function deleteClick() {
        var url = '/article/' + $(this).prop('id');

        $.ajax({
            url: url,
            type: 'DELETE',
            success: function (result) {
                window.location.href = '/article/'
            }
        });
    });

</script>